@import "tailwindcss";

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html, body {
  height: 100%;
  width: 100%;
}

:root{
    --c1:rgb(0, 0, 0);
    --c2:#000000;
    --c3:rgb(9, 10, 8);
    --c4:rgb(151, 132, 132);

}